<html data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../dist/output.css" rel="stylesheet" />
  </head>
  <script>
    function dance() {
      alert("dance")
    }
  </script>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">👋🏾</h1>
        <p class="py-6">Pass your peer's session key here 👇🏾</p>
        <input type="text" placeholder="Enter key" class="input w-full max-w-xs mt-2 mb-4">
        <button class="btn btn-primary mt-2 w-full" onclick="dance()">Connect</button>
      </div>
    </div>
</html>
